@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font);
}

:root{
    --background:#592E3E;
    --primary:#F25D07;
    --primary-hover:#F28705;
    --accent:#F2B807;
    --border:#8C342B;
    --white:#ffffff;

    --font: "Funnel Sans", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    
    min-height: 100dvh;
    width: 100%;
    overflow: hidden;
    background-image: url(../imagem/fundo-rio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

section.conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

   overflow: hidden;
    background-color: transparent;
    backdrop-filter: blur(3px);
    border: 2px solid #f25d07d4;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 380px;
    height: 400px;

    padding: 20px 10px; 
    transition: height .5s ease;
    
}

.conteiner.active {
    height: 520px;
}

.conteiner .form_login {
    transition: transform .50s ease;
    transform: translate(0);
}



.conteiner.active .form_login{
    transition: none;
    transform: translate(-400px);
    
}



.conteiner .form_register{
    transition: none;
    position: absolute;
    transform: translateX(400px);
}

.conteiner.active .form_register{
    transition: transform .50s ease;
    transform: translate(0);
    
}



.conteiner h1{
    text-align: center;
    margin-top: 20px;
}

form {
    width: 80%;
}




div.input-login, .input-register {
    position: relative;
    width: 100%;
    
}

/* rgba(237, 233, 233, 0.603) */

div.input-login input, div.input-register input {
    background-color: transparent;
    border: 2px solid var(--primary);

    font-size: 15px;
    
    box-shadow: rgba(0, 0, 0, 0.80) 0px 5px 15px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0px;
    width: 100%;
    outline: none;
    caret-color: var(--border);
    
}

.fa-solid {
    position: absolute;
    font-size: 15px;
    top: 32px;
    right: 16px;
    
}

.input-login input::placeholder, .input-register input::placeholder {
    color: rgba(245, 245, 245, 0.701);
    padding: 10px;
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.35) ;
}




div.lembrar-senha, div.termos{
    display: flex;
    justify-content: space-between;
    
}

div.lembrar-senha > a {
    text-decoration: none;
    color: var(--white);
}

button.login, button.register {
    display: block;
    padding: 10px;
    width: 200px;

    cursor: pointer;
    border-radius: 20px;
    background-color: var(--primary);
    box-shadow: rgba(0, 0, 0, 0.80) 0px 5px 15px;
    color: white;
    border:  2px solid var(--primary);
    margin: 10px auto;
}

.register-link p {
    display: block;
    margin-left: 30px;
}

.register-link a {
    color: white;
    text-decoration: none;
    
}

.register-link a:hover, .lembrar-senha a:hover {
    text-decoration: underline;
}

/*Media*/

@media (max-width: 398px) {
    section#conteiner {
        width: 290px;
        
    }
}


